<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name="sn" value="sn" />
  <variable name="udbsPN" value="udbsPN" />
  <variable name="janomeJobNum" value="janomeJobNum" />
  <variable name="screwCount" value="screwCount" />
  <variable name="fTime" value="fTime" />
  <variable name="preset" value="preset" />
  <variable name="tTq" value="tTq" />
  <variable name="cTq" value="cTq" />
  <variable name="speed" value="speed" />
  <variable name="a1" value="a1" />
  <variable name="a2" value="a2" />
  <variable name="a3" value="a3" />
  <variable name="error" value="error" />
  <variable name="count" value="count" />
  <variable name="fL" value="fL" />
  <variable name="status" value="status" />
  <variable name="sysIn" value="sysIn" />
  <variable name="sysOut" value="sysOut" />
  
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  
    <target name="Program" xsi:type="File" fileName="C:\ProgramData\AutomatedTightening\nlog-all-${shortdate}.log"
      maxArchiveFiles="14"
     layout="${longdate} ${stacktrace} ${message}" />

    <target name="TimeStamp" xsi:type="File" fileName="C:\ProgramData\AutomatedTightening\TimeStamp_log.csv"
            archiveAboveSize ="50000000"
            maxArchiveFiles="10" >
      <layout xsi:type="CsvLayout">
        <column name="Date" layout="${date:format=yyyy-MM-dd}" />
        <column name="Time" layout="${date:format=HH\:mm\:ss}" />
        <column name="Serial" layout="${var:sn}" />
        <column name="UdbsPn" layout="${var:udbsPN}" />
        <column name="JanomeJobNum" layout="${var:janomeJobNum}" />
        <column name="ScrewCount" layout="${var:screwCount}" />
        <column name="Event" layout="${message}" />
        <column name="SysIn" layout="${var:sysIn}" />
        <column name="SysOut" layout="${var:sysOut}" />
        <column name="F_Time" layout="${var:fTime}" />
        <column name="Preset" layout="${var:preset}" />
        <column name="T_Tq" layout="${var:tTq}" />
        <column name="C_Tq" layout="${var:cTq}" />
        <column name="Speed" layout="${var:speed}" />
        <column name="A1" layout="${var:a1}" />
        <column name="A2" layout="${var:a2}" />
        <column name="A3" layout="${var:a3}" />
        <column name="Error" layout="${var:error}" />
        <column name="Count" layout="${var:count}" />
        <column name="F_L" layout="${var:fL}" />
        <column name="Status" layout="${var:status}" />

        <!-- Add more columns as needed -->
      </layout>
    </target>
    <target name="TimeStampSn" xsi:type="File" fileName="C:\ProgramData\AutomatedTightening\TimeStampSn_log.csv"
            archiveAboveSize ="50000000"
            maxArchiveFiles="10" >
      <layout xsi:type="CsvLayout">
        <column name="Date" layout="${date:format=yyyy-MM-dd}" />
        <column name="Time" layout="${date:format=HH\:mm\:ss}" />
        <column name="Serial" layout="${var:sn}" />
        <column name="UdbsPn" layout="${var:udbsPN}" />
        <column name="JanomeJobNum" layout="${var:janomeJobNum}" />
        <column name="ScrewCount" layout="${var:screwCount}" />
        <column name="Event" layout="${message}" />
        <column name="SysIn" layout="${var:sysIn}" />
        <column name="SysOut" layout="${var:sysOut}" />
        <column name="F_Time" layout="${var:fTime}" />
        <column name="Preset" layout="${var:preset}" />
        <column name="T_Tq" layout="${var:tTq}" />
        <column name="C_Tq" layout="${var:cTq}" />
        <column name="Speed" layout="${var:speed}" />
        <column name="A1" layout="${var:a1}" />
        <column name="A2" layout="${var:a2}" />
        <column name="A3" layout="${var:a3}" />
        <column name="Error" layout="${var:error}" />
        <column name="Count" layout="${var:count}" />
        <column name="F_L" layout="${var:fL}" />
        <column name="Status" layout="${var:status}" />

        <!-- Add more columns as needed -->
      </layout>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="Program" minlevel="Trace" writeTo="Program" />
    <logger name="TimeStamp" minlevel="Trace" writeTo="TimeStamp" />
    <logger name="TimeStampSn" minlevel="Trace" writeTo="TimeStampSn" />
    
  </rules>
</nlog>
